.breadcrumbs {
    padding: 12px 0;
    display: flex;
    background: #fff;
    align-items: center;
    min-height: 60px;
    flex-wrap: wrap;

    @include desktop {
        flex-direction: row;
    }

    &__item {
        position: relative;
        margin-right: 8px;  
        margin-bottom: 6px;
        font-size: 14px;
        @include desktop {
            margin-bottom: 0;
        }
    }

    &__item:not(:first-child) {
        padding-left: 13px;
        &:before {
            position: absolute;
            content: '/';
            left: 0;
            top: 1px;
        }
    }

}