.meta-decription {
    margin-bottom: 24px;
    width: 100%;

    @include desktop {
        width: 80%;
    }

    h1 {
        color: $title_color;
        font-weight: bold;
        font-size: 28px;
    }
}