<%
var data = {
  title: "Заголовок | Проект",
  author: "overus.dev"
};

%>
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="favicon/favicon.ico">
    <link rel="stylesheet" href="css/style.bundle.css" />
    <title>Каталог</title>
</head>

<body>
    <%= _.template(require('./../includes/blocks/top.html').default)(data) %>
    <%= _.template(require('./../includes/brands.html').default)(data) %>
    <%= _.template(require('./../includes/scripts.html').default)(data) %>
</body>

</html>