.main {

    &__content {
        margin-top: 24px;
    }

    &__meta-decription {
        margin-bottom: 24px;

        h1 {
            font-weight: bold;
            font-size: 28px;
        }
    }

    &__content-item {
        position: relative;
        overflow: hidden;
        height: 280px;
        display: flex;
        flex-direction: column;
        background: #eee;
        margin-bottom: 24px;
        padding: 12px;

        @include tablet {
            height: 300px;
        }

        @include desktop {
            height: 330px;
        }
    }

    &__content-item-header {
        display: inline-block;
        margin-bottom: 12px;
        font-size: 14px;
        font-weight: bold;
        @include desktop {
            font-size: 17px;
        }
    }

    &__content-item-img {
        margin-bottom: 12px;
        padding: 8px 0;
        height: 150px;
        width: 100%;
        @include desktop {
            height: auto;
        }
    }
    &__content-item-link {
        position: absolute;
        bottom: 12px;
    }

    &__aside-list {
        height: 450px;
        padding: 22px;
        background: $green;
    }

    &__aside-list-item {
        
    }

    &__aside-link {
        display: flex;
        color: #fff;
        padding: 10px 0;

        @include desktop {

            &_state {
                &_active {
                    font-weight: bold;
                }
            }

            &:hover {
                padding-left: 6px;
                color: #000;
                background: #fff;
                text-decoration: none;
                transition: $transition;
            }
        }
    }
}