.main-catalog {

    &__g-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
        background: #eee;
        margin-bottom: 24px;
    }

    &__content {
        margin-top: 24px;
    }

    &__meta-decription {
        margin-bottom: 24px;

        h1 {
            font-weight: bold;
            font-size: 28px;
        }
    }

    &__tree {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;

        @include desktop {
            border: 1px solid #ccc;
            padding: 24px;
        }
    }

    &__tree-title {
        color: $title_color;
    }

    &__tree-link {
        font-weight: bold;
        color: $blue;
        @include desktop {
            cursor: pointer;
        }
    }

    &__tree-list-item {
        margin-bottom: 12px;
    }

    &__tree-sublist {
        padding: 24px 18px;
        &_state {
            &_active {
                display: block !important;
            }
        }
    }

    &__tree-sublist-item {
        margin-bottom: 12px;
        a {
            color: $color;
        }
    }

    &__content-item-img {
        margin-bottom: 12px;
        padding: 8px 0;
        width: 100%;
        height: 100px !important;

        @include desktop {
            height: auto;
        }
    }
    &__content-item-link {}

}