.main {

    &__content {
        margin-top: 24px;
    }

    &__meta-decription {
        margin-bottom: 24px;

        h1 {
            font-weight: bold;
            font-size: 28px;
        }
    }

    &__aside-list {
        height: 450px;
        padding: 22px;
        background: $green;
    }

    &__aside-list-item {
        
    }

    &__aside-link {
        display: flex;
        color: #fff;
        padding: 10px 0;

        @include desktop {

            &_state {
                &_active {
                    font-weight: bold;
                }
            }

            &:hover {
                padding-left: 6px;
                color: #000;
                background: #fff;
                text-decoration: none;
                transition: $transition;
            }
        }
    }
}