.main-catalog {

    &__g-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
        background: #eee;
        margin-bottom: 24px;
    }

    &__content {
        margin-top: 24px;
    }

    &__meta-decription {
        margin-bottom: 24px;

        h1 {
            font-weight: bold;
            font-size: 28px;
        }
    }

    &__content-item-header {
        display: inline-block;
        margin-bottom: 12px;
        @include t-item-title;
    }

    &__tree {
        display: flex;
        flex-direction: column;
    }

    &__tree-title {
        color: $green;
    }

    &__tree-link {
        font-weight: bold;
        color: $green;
    }

    &__tree-list-item {
        margin-bottom: 12px;
    }

    &__tree-sublist {
        // display: none;
        padding: 24px;
        &_state {
            &_active {
                display: block !important;
            }
        }
    }

    &__tree-sublist-item {
        margin-left: 24px;
        margin-bottom: 12px;
    }

    &__content-item-img {
        margin-bottom: 12px;
        padding: 8px 0;
        width: 100%;
        height: 100px !important;

        @include desktop {
            height: auto;
        }
    }
    &__content-item-link {}

}