.main {
    &__form {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__input {
        border: 1px solid $border;
        padding: 12px;

        &:focus {
            border: 1px solid $border;
            outline: none;
        }

        &:focus::placeholder{
            opacity: 0;
        }
    }

    &__button {
        border: 1px solid $green;
        margin-left: 6px;
        padding: 13px;
        background: $green;
        color: #fff;
    }

    &__g-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
        background: #eee;
    }

    &__content {
        margin-top: 24px;
    }

    &__content-item {
        height: 150px;
        background: #eee;
        margin-bottom: 24px;
        padding: 12px;
    }

    &__aside-list {
        height: 450px;
        padding: 22px;
        background: $green;
    }

    &__aside-list-item {
        
    }

    &__aside-link {
        display: flex;
        color: #fff;
        padding: 12px 0;

        @include desktop {
            &:hover {
                padding-left: 6px;
                color: #000;
                background: #fff;
                text-decoration: none;
                transition: $transition;
            }
        }
    }
}